.page-container {
    width: 1200px;
    max-width: 80%;
    padding-bottom: 100px;
}

.pt-80 {
    padding-top: 80px;
}
.p-20 {
    padding: 20px;
}
.mb-40 {
    margin-bottom: 40px;
}

.mg-auto {
    margin: auto;
}
